.app-tt {
background-color: #282c34;
color: #61dafb;
color:rgba(70, 79, 96, 1);
color:rgba(104, 113, 130, 1);
border-color: rgba(11, 11, 11, 0.1);
border: 1px solid #ccc;
background-color: #007bff;
background-color: #00bcff14;
color: rgba(209, 41, 83, 1);
color: rgba(20, 128, 74, 1);
}