.alternatives-cell {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.MuiDataGrid-topContainer.MuiDataGrid-container--top.css-1oudwrl{
    background-color: rgba(245, 245, 245, 1) !important;
}