.inform-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__inform-card {
    width: 31%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}

.panel {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 360px;
  margin-top: 30px;

  &__chart {
    width: 31%;
    .chart {
      height: 318px;
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
  }

  &__table {
    width: 65.5%;
    height: auto;
  }

  .table__body {
    height: 320px;
    overflow-y: scroll;
  }
}
