.notification-periods {
  background-color: var(--page-content-background);
  padding: 24px;

  &__title {
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: rgba(16, 56, 79, 1);
  }

  &__periods {
    width: 240px;
  }
}

.notification-periods-content {
  margin-top: 24px;
}

.selector-container {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__desciption {
    padding-left: 25px;
    padding-top: 3px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.monthly-periods, .weekly-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.custom-periods {
  display: flex;
  flex-direction: column;

  .custom-period:not(:last-child) {
    margin-bottom: 15px;
  }
}
.custom-period {
  width: 100%;
  display: flex;
  align-items: baseline;
  > * {
    margin-right: 25px;
  }
}
